<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show 博客</title>
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/showArticle.css">
    
</head>
<body>
    <div class="navbar navbar-default"> 
        
        <div class="container">
                <div class="navbar-header">
                        <a  href="index.html" class="navbar-brand"></a>
                    </div>
                <div class="nav navbar-nav">
                    <li><a href="index.html">Lsq的博客</a></li>
                    <li><a href="write.html">写博客</a></li>
                    <li><a href="#">消息</a></li>
                    <li><a href="#">关于lsq</a></li>             
                </div>
                <div class="nav navbar-nav navbar-right">
                    <li><a href="login.html">登录</a></li>
                    <li><a href="siginup.html">注册</a></li>
                    
                </div>
        </div>
      
    </div>

    <div class="container">
            <div>
         
            <div class="col-lg-9">
                    <div class="header">
                        <p><b>nodejs简介</b></p>
                    </div>
                    <hr>
                    <div class="author" >
                       <ul  class="author-info" >
                           <li  class="writer" >作者：廖绍强 </li>
                           <li>创作时间：2018-12-8</li>
                       </ul>
                    </div>
                    <hr>
                    <div class="content">
                        <p class="content-info" >
                            Node.js 是一个让 JavaScript 运行在服务端的开发平台，它让 JavaScript 成为与PHP、Python、Perl、Ruby 等服务端语言平起平坐的脚本语言。                                                                                                                                                                                                                                               
                        

                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search-bar">
                            <input type="search" class="form-control " placeholder="搜索博客文章">

                    </div>
                    <div class="side-bar-card  flag clearfix">
                        <div class="col-xs-5">
                            <img src="./img/logo.png">
                        </div>
                            <div class="col-xs-7">
                                    <div class="text-lg">Lsq的博客</div>
                                    <div>github：<a href="http://github.com/MooozzZ">github.com/MooozzZ</a></div>
                            </div>
                       

                    </div>
                    <div class="side-bar-card">
                        <div class="card-title">
                                热度文章
                        </div>
                        <div class="card-body">
                            <div class="list">
                                <div class="item">
                                    <div class="title">
                                        <a href="#" class="text">
                                                MongoDB ： 是一个基于分布式文件存储的数据库。由C++语言编写。旨在为WEB应用提供可扩展的高性能数据存储解决方案。
                                              
                                        </a>
                                
                                    </div>
                                    <div class="desc">1w阅读 5k评论
            
                                    </div>
                                </div>
                                <div class="item">
                                        <div class="title">
                                                <a href="#" class="text">
                                                        JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言.

                                                </a>
                                                
                                        </div>
                                        <div class="desc">5k阅读 4k评论
                
                                        </div>
                                    </div>
                                    <div class="item">
                                            <div class="title">
                                                    <a href="#" class="text">
                                                Bootstrap是美国Twitter公司的设计师Mark Otto和Jacob Thornton合作基于HTML、CSS、JavaScript 开发的简洁、直观、强悍的前端开发框架，使得 Web 开发更加快捷。                                                                                                               
                                                    </a>
                                            </div>
                                            <div class="desc">4k阅读  3k评论
                    
                                            </div>
                                        </div>
                                        <div class="item">
                                                <div class="title">
                                                        <a href="#" class="text">
                                                        Vue.js是一个构建数据驱动的 web 界面的渐进式框架。Vue.js 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件。它不仅易于上手，还便于与第三方库或既有项目整合。                                                                                                                                                                              
                                                                    </a>
                                                </div>
                                                <div class="desc">2k阅读 1k评论
                        
                                                </div>
                                            </div>
                                            <div class="item">
                                                    <div class="title">
                                                            <a href="#" class="text">
                                                            Node.js 是一个让 JavaScript 运行在服务端的开发平台，它让 JavaScript 成为与PHP、Python、Perl、Ruby 等服务端语言平起平坐的脚本语言。                                                                                                                                                                                                                                               
                                                             </a>
                                                    </div>
                                                    <div class="desc">2k阅读 500评论
                            
                                                    </div>
                                                </div>
                                     </div>
                        </div>
                    </div>
                    </div>
            </div>
           
    </div>
</body>
</html>