img{
    display: block;
    max-width: 100%;
    border-radius: 5px;
}
.navbar-brand{
    background-image: url(../img/logo.png);
    width: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}
.side-bar-card .card-title{
    font-weight: bold;
}
.side-bar .list-group-item{
    border: 0;
    border-radius: 3px;
    margin-bottom: 5px;
}
.side-bar .list-group-item.active{
    background-color:#ea0c3c; 
}
.news-list-item .title{
    display: block;
    color: #444;;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.5;
}
.news-list-item .title:hover{
    color: #337ab7;
    text-decoration: none;
}
.news-list-item .info{
    color: #888;
}
.avatar img{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 3px;
}
.news-list-item{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px  solid #eee;
}
.news-list-item:first-child{
    padding-top: 0;
}
.side-bar-card{
    background: rgba(0,0,0,.15);
    margin-top: 15px;
    padding: 10px 0 ;
}
.side-bar-card flag{
    padding-top: 20px;
    padding-bottom: 20px;
}
.side-bar-card .text-lg{
    font-size:    150%;
}
.side-bar-card .card-title,
.side-bar-card .card-body .list .item{
   padding: 10px 15px;
}
.side-bar-card .card-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;   
}
.side-bar-card .card-body .list .item:hover{
    background: rgba(0,0,0,.2);
}
.card-body .list .desc{
    color: rgb(92, 86, 86);
}

.container-small {
    max-width:500px ;
}
.btn-primary{
    background-color: #ea0c3c;
    border-color: #ea0c3c;

}
.btn-primary:hover{
    background-color: #d50c37;
    border-color:#d50c37;
}
a:focus{
    text-decoration: none;
}
.text:hover{
    color: #337ab7;
    text-decoration: none;
}
.search-bar{
    margin-bottom: 50px;
}
.publish{
    margin-top: 50px;
}